.about {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100px;
}

.about__container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__description {
  width: 45%;
  align-self: flex-start;
  padding-left: 8%;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 4em;
}

.about__slider {
  width: 45%;
  align-self: flex-end;
  padding-right: 1em;
  margin-bottom: 2em;
}

@media (max-width: 770px) {
  .about__title {
    padding-left: 0;
  }
  .about__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about__description {
    width: 100%;
    padding-left: 0;
  }
  .about__slider {
    width: 100%;
    max-width: 562px;
    padding-right: 0;
  }
}

.about__slider__wrapper {
  display: grid;
  grid-template-columns: 562px 562px 562px;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.slider {
  position: relative;
  z-index: 1;
}

.slider::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 93%;
  height: 85%;
  background-color: transparent;
  outline: 4px solid var(--brand-color-light);
  outline-offset: 15px;
}

.slider::after {
  content: "What you can see";
  position: absolute;
  z-index: 3;
  bottom: 1em;
  left: -6em;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: right;
  line-height: 1.2;
  width: 8em;
}

@media (max-width: 1050px) {
  .slider::after {
    top: -1.5em;
    left: 0;
    width: 100%;
    text-align: left;
  }
  .slider::before {
    display: none;
  }
}

.slider__item {
  scroll-snap-align: start;
}
.slider__item img {
  object-fit: cover;
  width: 100%;
}

.scroll__link::before {
  align-self: center;
}

.scroll__container {
  justify-content: center;
}
.scroll__text {
  position: relative;
  bottom: 0;
}
