:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-text-color: #ffffff;
  --main-background-color: #02050c;
  --brand-color: #15b38d;
  --brand-color-light: #0dd1a2;

  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.2;

  color: var(--main-text-color);
  background: var(--main-background-color);
}

@media (max-width: 770px) {
  :root {
    font-size: 15px;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-background {
  flex-shrink: 0;
}

.main-background::after {
  content: "";
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 50% 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-background::after {
    background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@2x.jpg");
  }
}

.main-content--intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/kid_VR@1x.png");
  background-repeat: no-repeat;
  background-size: 430px 350px;
  background-position: 100% 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-content--intro::after {
    background-image: url("../img/kid_VR@2x.png");
  }
}

@media (max-width: 770px) {
  .main-content--intro::after {
    background-image: none;
  }
}

.page-header__container,
.page-footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 2em 0;
  margin: 0 auto;
  max-width: 1200px;
  font-weight: 500;
}

@media (max-width: 1050px) {
  .page-header__container {
    justify-content: space-between;
    padding: 1em 0;
    margin: 0 auto;
    align-items: flex-start;
  }
}

.basic-background {
  background-color: #02050c;
  background-image: url("../img/body-background@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
  overflow: auto;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .basic-background {
    background-image: url("../img/body-background@2x.jpg");
  }
}

.page-header__logo {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-right: 1em;
}

.page-header__logo--mobile {
  margin: 0;
}

@media (max-width: 1050px) {
  .page-header__logo {
    display: none;
  }
  .page-header__logo--mobile {
    display: flex;
  }
  .page-header__tel {
    display: none;
  }
}

.page-header__logo:focus,
.page-header__logo:hover {
  color: var(--brand-color-light);
  cursor: pointer;
}
.page-header__logo-image {
  fill: var(--main-text-color);
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0 1rem 0 0;
}

@media (max-width: 1050px) {
  .page-header__logo-image {
    top: 0;
  }
}

.page-header__logo-image:hover {
  fill: var(--brand-color-light);
}

.page-header__tel {
  font-size: 1.1rem;
  margin: 0.5em 0;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.page-header__item:not(:last-of-type) {
  margin-right: 2em;
}

.page-header__navigation {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}

@media (max-width: 1050px) {
  .page-header__navigation {
    display: none;
  }
}

.page-header__order {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.page-header__button {
  margin-right: 2em;
}

.button {
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  border: solid 2px var(--brand-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: 700;
  font-size: 0.8rem;
}
.button:focus,
.button:hover {
  background-color: var(--brand-color-light);
}

.page-header__list {
  list-style: none;
}

.page-header__item {
  position: relative;
}

.page-header__item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 0.5em;
  right: -1em;
  border-radius: 50%;
}

.page-header__link,
.page-header__logo-link,
.intro__button {
  color: var(--main-text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__toggle {
  position: relative;
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  background-position: center;
  top: 0px;
  right: 0;
  background-image: url("../img/open-button.svg");
  background-repeat: no-repeat;
  background-size: 24px 19px;
  width: 30px;
  height: 30px;
}

.page-header__toggle {
  display: none;
}

@media (max-width: 1050px) {
  .page-header__toggle {
    display: block;
  }
}

/*
* MENU--OPEN
*/
.page-header--open .page-header__toggle::before {
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center;
  width: 30px;
  height: 30px;
}

.page-header--open {
  background-color: rgba(28, 28, 28, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  overflow: scroll;
}

.page-header--open .page-header__container--mobile {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.page-header__navigation--mobile {
  padding-top: 3.3em;
  margin-bottom: 1.3em;
}
.page-header__navigation--mobile .page-header__list {
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-header__navigation--mobile .page-header__item::before {
  display: none;
}

.page-header__navigation--mobile .page-header__item {
  margin-bottom: 2.3em;
}
.page-header__tel--mobile {
  display: block;
}

.page-header__link:hover,
.page-header__logo-link:hover {
  color: var(--brand-color-light);
}

.page-header__logo-link:hover .page-header__logo-image {
  fill: var(--brand-color-light);
}

.page-header__link--active {
  color: var(--brand-color-light);
}

.main-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  width: 100%;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 5% 1rem;
}

.intro__button {
  position: relative;
  display: inline-block;
  padding: 18px 18px 20px 80px;
  font-size: 21px;
  text-align: left;
  margin-right: 1.6rem;
  min-width: 200px;
}

.intro__button:hover {
  background: var(--brand-color-light);
}

.intro__button-order::before,
.intro__button-video::before {
  content: "";
  position: absolute;
  background-image: url("../img/order-icon.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  top: 15px;
  left: 25px;
}

.intro__button-video::before {
  background-image: url("../img/video-icon.svg");
}

.intro__button-order {
  background: var(--brand-color);
}

.intro__title {
  font-size: 5.6em;
  margin-bottom: 1.5rem;
  padding-top: 3rem;
  font-weight: 400;
}
.intro__text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}

.intro__text-wrapper {
  margin-bottom: 4rem;
}

@media (max-width: 770px) {
  .intro__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .intro__button {
    display: block;
    width: 200px;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .intro__button-container {
    margin: 0 auto;
  }

  .intro__title {
    font-size: 2.4rem;
  }
}

.page-footer {
  margin: 0 auto;
  display: flex;
  padding: 1.5em 0;
  color: var(--main-text-color);
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.64;
}
@media (max-width: 770px) {
  .page-footer {
    display: flex;
    flex-direction: column;
  }
}

.page-footer__social-image {
  fill: var(--main-text-color);
  opacity: 0.6;
}

.page-footer__social-link .page-footer__social-image {
  transition: opacity 0.3s ease-in-out;
}

.page-footer__social-link:hover .page-footer__social-image {
  opacity: 1;
}
.page-footer__social {
  list-style: none;
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

.page-footer__social-item {
  margin-right: 1.5rem;
}

/* SCROLL */

.scroll__container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll--intro .scroll__text {
  position: relative;
  bottom: 0;
  left: 35%;
}
@media (max-width: 770px) {
  .scroll__container {
    justify-content: center;
  }
  .scroll--intro .scroll__text {
    left: 0%;
    bottom: 1em;
  }
  .page-footer__social {
    display: none;
  }
}

.page-footer__social--mobile {
  display: flex;
}

.scroll {
  width: 100%;
  padding: 1.5em 0;
  margin-top: auto;
}

.scroll__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: 0.8rem;
  letter-spacing: 0.12em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.64;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 2em;
}

.scroll__link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  border-left: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  transform: rotate(-45deg);
  bottom: -0.6em;
  left: 45%;
}

.scroll__link:hover {
  opacity: 1;
}

/* TITLE */

.title {
  font-weight: 500;
  font-size: 2.6em;
  line-height: 1.4;
  margin-bottom: 1.1em;
  padding-left: 5%;
}

.title--span {
  padding-right: 0.8em;
  border-bottom: solid 3px var(--brand-color-light);
}

@media (max-width: 770px) {
  .title--span {
    border: 0;
  }
  .title {
    border-bottom: solid 3px var(--brand-color-light);
  }
}

/* SLIDER */

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider__pagination {
  margin: 0 1.5em 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--main-text-color);
  opacity: 0.87;
}

.slider__pagination-total {
  color: #ababab;
}

.slider__buttons {
  display: flex;
  flex-wrap: wrap;
}

.slider__button {
  position: relative;
  display: block;
  width: 60px;
  height: 48px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: #1c1c1c;
}

.slider__button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-right: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  top: 17px;
  left: 50%;
  transition: border-color 0.3s ease-in-out;
}

.slider__button:hover::before {
  border-color: var(--brand-color-light);
}

.slider__button:focus {
  border: 1px solid var(--brand-color-light);
}

.slider__button--prev::before {
  transform: translateX(-50%) rotate(135deg);
  left: 57%;
}

.slider__button--next::before {
  transform: translateX(-50%) rotate(-45deg);
}

.slider__button--disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/*
* POPUP
*/

.popup {
  opacity: 0;
  pointer-events: none;
  color: var(--main-background-color);
  transition: opacity 200ms;
}

.popup--show {
  opacity: 1;
  pointer-events: auto;
}

.popup__wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(27, 45, 55, 0.5);
  position: absolute;
  z-index: 1000;
}

.popup__title, .popup__title--send {
  margin: 0;
  margin-bottom: 0.7rem;
  text-align: center;
}

.popup__form {
  width: 50%;
  height: 50%;
  min-height: 300px;
  max-height: 450px;
  background-color: #f3f3f3;
  top: 25%;
  left: 25%;
  padding: 2.5em 3em;
  position: absolute;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transform: translateX(-280px);
  transition: transform 300ms;
}

.form--show {
  transform: translateX(0);
}

.popup__input > input {
  width: 100%;
  height: 3em;
  padding: 1em;
  margin-bottom: 0.5em;
}

.popup__input > input:hover,
.popup__input > input:focus {
  outline: 2px solid var(--brand-color-light);
}

.popup__text, .popup__text--send {
  margin: 0;
  margin-bottom: 0.7em;
  line-height: 1.3;
  text-align: center;
  opacity: 0.6;
}

.button__wrapper {
  text-align: center;
  margin-top: 1.5em;
}

.popup__send-button, .popup__saccess-button {
  color: rgba(28, 28, 28, 0.4);
  min-width: 30%;
}

.popup__send-button:focus,
.popup__send-button:hover {
  outline: 2px solid var(--brand-color-light);
}

.popup__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
  transition: opacity 160ms;
}

.popup__close-button::after,
.popup__close-button::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 19px;
  background-color: #1c1c1c;
  transform: rotate(-45deg);
  top: 25%;
  left: 50%;
}

.popup__close-button::after {
  transform: rotate(45deg);
}

.popup__close-button:hover {
  opacity: 0.3;
}

.popup__close-button:focus {
  outline: 1px solid var(--brand-color-light);
  opacity: 1;
}

@media (max-width: 770px) {
  .popup__form {
    position: fixed;
    max-width: 90%;
    max-height: 100%;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #f3f3f3;
    top: 0;
    left: 0;
    padding: 2em;
    justify-content: center;
  }
}

.popup--send .popup__title {
  display: none;
}

.popup--send .popup__text {
  display: none;
}

.popup--send .popup__input {
  display: none;
}

.popup--send .popup__send-button {
  display:none;
}

.popup__form-message {
  padding-top:20%;
  width:100%;
}

.popup__form-message::before {
  content: "";
  position: absolute;
  background-image: url("../img/sent.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 20%;
  max-height: 80px;
  top: 10%;
  left: 0;
}

@media (max-width: 1050px) {
  .popup__form-message{
    padding-top:30%;
  }
}

@media (max-width: 770px) {
  .popup__form-message::before {
    top:20%;
  }
}

/*
* ABOUT
*/
.about {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 1000px;
}

.about__container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__description {
  width: 45%;
  align-self: flex-start;
  padding-left: 8%;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 4em;
}

.about__slider {
  width: 45%;
  align-self: flex-end;
  padding-right: 1em;
  margin-bottom: 2em;
}

@media (max-width: 770px) {
  .about__title {
    padding-left: 0;
  }
  .about__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about__description {
    width: 100%;
    padding-left: 0;
  }
  .about__slider {
    width: 100%;
    max-width: 562px;
    padding-right: 0;
  }
}

.about__slider__wrapper {
  display: grid;
  grid-template-columns: 562px 562px 562px;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.about__slider .slider {
  position: relative;
  z-index: 1;
}

.about__slider .slider::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 93%;
  height: 85%;
  background-color: transparent;
  outline: 4px solid var(--brand-color-light);
  outline-offset: 15px;
}

.about__slider .slider::after {
  content: "What you can see";
  position: absolute;
  z-index: 3;
  bottom: 1em;
  left: -6em;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: right;
  line-height: 1.2;
  width: 8em;
}

@media (max-width: 1050px) {
  .about__slider .slider::after {
    top: -1.5em;
    left: 0;
    width: 100%;
    text-align: left;
  }
  .about__slider .slider::before {
    display: none;
  }
}

.about__slider .slider__item {
  scroll-snap-align: start;
}
.about__slider .slider__item img {
  object-fit: cover;
  width: 100%;
}

.scroll--rest .scroll__link::before {
  align-self: center;
}

.scroll--rest .scroll__container {
  justify-content: center;
}
.scroll--rest .scroll__text {
  position: relative;
  bottom: 0;
}

/*
* EXPLANATION, TECNOLOGY
*/

.explanation,
.technology {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.explanation__container,
.technology__container {
  width: 90%;
  margin: 0 auto;
}

.explanation__slider__wrapper,
.technology__slider__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2em;
}
.explanation__slider,
.technology__slide {
  height: 100%;
}
.slider {
  height: 100%;
}

.slider__item {
  display: flex;
  position: relative;
}
.explanation__column-image,
.technology__column-image {
  width: 100%;
  margin-bottom: 1em;
}

.explanation .slider__item img {
  max-width: 195px;
}

.explanation__column-text,
.technology__column-text {
  margin-left: 1.5em;
  font-weight: 300;
  line-height: 1.3;
  font-size: 0.88rem;
}
.explanation__item-title,
.technology__item-title {
  margin: 0;
  font-size: 1.2em;
}
.explanation__slider-controls,
.technology__slider-controls {
  display: none;
}

@media (max-width: 1050px) {
  .slider__item {
    flex-direction: column;
  }
  .explanation__column-text,
  .technology__column-text {
    margin-left: 0;
    padding: 0.5em;
    background-color: rgba(28, 28, 28, 0.7);
    margin-bottom: 1em;
  }
  .explanation__title,
  .technology__title {
    padding-left: 0;
  }
}

@media (max-width: 770px) {
  .explanation__slider__wrapper {
    display: grid;
    grid-template-columns: 195px 195px 195px 195px;
    grid-template-rows: auto;
    grid-gap: 40px;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-left: 0.5em;
  }

  .explanation__slider {
    width: 100%;
    max-width: 195px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .explanation__slider::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 82%;
    height: 25%;
    background-color: transparent;
    outline: 3px solid var(--brand-color-light);
    outline-offset: 10px;
  }
  .explanation__slider-controls {
    display: flex;
  }
}

.explanation__column-image p {
  position: relative;
  margin: 0;
  max-width: 195px;
  z-index: 1;
}
.explanation__column-image p::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 85%;
  height: 75%;
  background-color: transparent;
  outline: 3px solid var(--brand-color-light);
  outline-offset: 10px;
}

.explanation .slider__item .image-wrapper::before {
  content: "1";
  z-index: 1;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  bottom: -0.5em;
  left: -0.5em;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  color: var(--brand-color-light);
  border-radius: 50%;
  background-color: #ffffff;
}

.explanation .slider__item:nth-of-type(2) .image-wrapper::before {
  content: "2";
}

.explanation .slider__item:nth-of-type(3) .image-wrapper::before {
  content: "3";
}

.explanation .slider__item:nth-of-type(4) .image-wrapper::before {
  content: "4";
}

.technology__slider__wrapper {
  grid-gap: 4em;
  grid-column-gap: 480px;
}

.technology__image-container {
  position: absolute;
  margin: 0;
  width: 400px;
  height: 400px;
  top: 250px;
  left: calc(50% - 200px);
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.technology__image-container::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: -40px;
  left: -40px;
}

.technology__image {
  position: absolute;
  top: 100px;
  left: 10px;
}

.technology__button {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 0;
  background-color: var(--brand-color);
  bottom: 1em;
  right: 2em;
  z-index: 5;
  cursor: pointer;
}

.technology__button:hover {
  background-color: var(--brand-color-light);
}

.technology__button-image {
  position: absolute;
  top: 25px;
  left: 26px;
  fill: #ffffff;
}

.technology__column-image {
  display: none;
}

@media (max-width: 1050px) {
  .technology__image-container {
    display: none;
  }

  .technology__column-image {
    display: block;
  }

  .technology__slider__wrapper {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 40px;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  .technology__slider {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .technology__slider-controls {
    display: flex;
  }
}

.technology__column-image {
  width: 420px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 50%;
}

.technology__column__image-wrapper {
  position: relative;
  z-index: 1;
  top: 25%;
  right: -25px;
}

.technology__column__image-wrapper::after,
.technology__column__image-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.technology__column__image-wrapper::before {
  width: 24px;
  height: 24px;
  z-index: 20;
  top: 10%;
  left: 5%;
  background: radial-gradient(circle at center, #0dd1a2 0, #0dd1a2 35%, transparent 35%, transparent 60%, #0dd1a2 60%, #0dd1a2 100%);
}

.technology__slide {
  position: relative;
}

.technology__slide:nth-child(2n) {
  padding-left: 5%;
}

.technology__slide:nth-child(1)::before,
.technology__slide:nth-child(2)::before,
.technology__slide:nth-child(3)::before,
.technology__slide:nth-child(4)::before {
  content: "";
  position: absolute;
  background-image: url("../img/pointer 1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 65%;
  height: 120px;
  top: 10px;
  left: 210px;
  z-index: 30;
}

.technology__slide:nth-child(2)::before {
  background-image: url("../img/pointer 2.svg");
  width: 75%;
  height: 95px;
  top: 10px;
  left: -70%;
}

.technology__slide:nth-child(3)::before {
  background-image: url("../img/pointer 3.svg");
  width: 150%;
  height: 85px;
  top: -70px;
  left: 150px;
}

.technology__slide:nth-child(4)::before {
  background-image: url("../img/pointer 4.svg");
  width: 100px;
  height: 80px;
  top: -70px;
  left: -75px;
}

@media (max-width: 1050px) {
  .technology__slide:nth-child(1)::before,
  .technology__slide:nth-child(2)::before,
  .technology__slide:nth-child(3)::before,
  .technology__slide:nth-child(4)::before {
    display: none;
  }

  .technology__slide:nth-child(2n) {
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  .technology__column-image {
    width: 77vw;
    height: 77vw;
  }

  .technology__column-image img {
    width: 70vw;
  }
}

/*
* CONTACTS
*/

.contacts__item {
  margin-bottom: 1.7em;
}

.contacts__item-text {
  margin: 0;
}

.contacts__item-city {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.23rem;
}

.contacts__item-link {
  line-height: 1.3;
  font-weight: 300;
  color: var(--main-text-color);
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;
}

.contacts__item-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.contacts__container {
  padding-top: 3%;
  display: grid;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 5rem;
}

@media (max-width: 770px) {
  .contacts__container {
    display: flex;
    flex-direction: column;
  }
}

.contacts__title {
  padding-left: 20%;
  grid-column: 1/3;
  grid-row: 1/2;
}

.contacts__list {
  margin: 0;
  padding-left: 30%;
  list-style: none;
  grid-column: 1/3;
  grid-row: 2/5;
}

.contacts__form {
  grid-column: 3/7;
  grid-row: 2/5;
}
@media (max-width: 1050px) {
  .contacts__form {
    grid-column: 2/7;
  }

  .contacts__container {
    padding-left: 0;
  }
  .contacts__list {
    padding-left: 15%;
    grid-column: 1/2;
  }
  .contacts__title {
    padding-left: 0;
  }
  .page-footer__social .page-footer__social-item:last-child {
    margin-right: 0;
  }
  .page-footer__social {
    justify-content: flex-end;
  }
}

@media (max-width: 770px) {
  .contacts__list {
    padding: 0;
    margin-bottom: 2em;
  }

  .page-footer__text:not(:last-of-type) {
    margin-bottom: 0;
  }

  .page-footer__social {
    display: flex;
    justify-content: flex-start;
  }
}
.contacts__form-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.23em;
}

.contacts__form-text {
  margin: 0;
  line-height: 1.3;
  margin-bottom: 0.7em;
}

.contacts__form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__form-field {
  width: 49%;
  margin-bottom: 0.6em;
}

.contacts__form-field input {
  width: 100%;
  position: relative;
  font-size: 0.8rem;
  line-height: 1.3;
  font-weight: 400;
  padding: 1.15em;
}

.contacts__form-textarea {
  width: 100%;
  line-height: 0;
}

.contacts__form-textarea textarea {
  width: 100%;
  position: relative;
  min-height: 144px;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 1.15em;
  resize: none;
  font-weight: 400;
  color: #1c1c1c;
  margin-bottom: 1rem;
}

.contacts__form-textarea textarea:focus,
.form-field input:focus {
  outline: 2px solid var(--brand-color-light);
}

@media (max-width: 770px) {
  .contacts__form-field {
    width: 100%;
  }
}


