:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-text-color: #ffffff;
  --main-background-color: #02050c;
  --brand-color: #15b38d;
  --brand-color-light: #0dd1a2;

  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.2;

  color: var(--main-text-color);
  background: var(--main-background-color);
}

@media (max-width: 770px) {
  :root {
    font-size: 15px;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-background {
  flex-shrink: 0;
}

.main-background::after {
  content: "";
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 50% 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-background::after {
    background-image: url("../img/body-background-main-2@1x.png"), url("../img/body-background-main@2x.jpg");
  }
}

.main-content--intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/kid_VR@1x.png");
  background-repeat: no-repeat;
  background-size: 430px 350px;
  background-position: 100% 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-content--intro::after {
    background-image: url("../img/kid_VR@2x.png");
  }
}

@media (max-width: 770px) {
  .main-content--intro::after {
    background-image: none;
  }
}

.page-header__container,
.page-footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 2em 0;
  margin: 0 auto;
  max-width: 1200px;
  font-weight: 500;
}

@media (max-width: 1050px) {
  .page-header__container {
    justify-content: space-between;
    padding: 1em 0;
    margin: 0 auto;
    align-items: flex-start;
  }
}

.basic-background {
  background-color: #02050c;
  background-image: url("../img/body-background@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
  overflow: auto;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .basic-background {
    background-image: url("../img/body-background@2x.jpg");
  }
}

.page-header__logo {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-right: 1em;
}

.page-header__logo--mobile {
  margin: 0;
}

@media (max-width: 1050px) {
  .page-header__logo {
    display: none;
  }
  .page-header__logo--mobile {
    display: flex;
  }
  .page-header__tel {
    display: none;
  }
}

.page-header__logo:focus,
.page-header__logo:hover {
  color: var(--brand-color-light);
  cursor: pointer;
}
.page-header__logo-image {
  fill: var(--main-text-color);
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0 1rem 0 0;
}

@media (max-width: 1050px) {
  .page-header__logo-image {
    top: 0;
  }
}

.page-header__logo-image:hover {
  fill: var(--brand-color-light);
}

.page-header__tel {
  font-size: 1.1rem;
  margin: 0.5em 0;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.page-header__item:not(:last-of-type) {
  margin-right: 2em;
}

.page-header__navigation {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}

@media (max-width: 1050px) {
  .page-header__navigation {
    display: none;
  }
}

.page-header__order {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.page-header__button {
  margin-right: 2em;
}

.button {
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  border: solid 2px var(--brand-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: 700;
  font-size: 0.8rem;
}
.button:focus,
.button:hover {
  background-color: var(--brand-color-light);
}

.page-header__list {
  list-style: none;
}

.page-header__item {
  position: relative;
}

.page-header__item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 0.5em;
  right: -1em;
  border-radius: 50%;
}

.page-header__link,
.page-header__logo-link,
.intro__button {
  color: var(--main-text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__toggle {
  position: relative;
  display: block;
  padding: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  top: 0px;
  right: 0;
  background-image: url("../img/open-button.svg");
  background-repeat: no-repeat;
  background-size: 24px 19px;
  width: 24px;
  height: 19px;
}

.page-header__toggle {
  display: none;
}

@media (max-width: 1050px) {
  .page-header__toggle {
    display: block;
  }
}

/*
* MENU--OPEN
*/
.page-header--open .page-header__toggle::before {
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  width: 19px;
  height: 19px;
}

.page-header--open {
  background-color: rgba(28, 28, 28, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  overflow: scroll;
}

.page-header--open .page-header__container--mobile {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.page-header__navigation--mobile {
  padding-top: 3.3em;
  margin-bottom: 1.3em;
}
.page-header__navigation--mobile .page-header__list {
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-header__navigation--mobile .page-header__item::before {
  display: none;
}

.page-header__navigation--mobile .page-header__item {
  margin-bottom: 2.3em;
}
.page-header__tel--mobile {
  display: block;
}

.page-header__link:hover,
.page-header__logo-link:hover {
  color: var(--brand-color-light);
}

.page-header__logo-link:hover .page-header__logo-image {
  fill: var(--brand-color-light);
}

.page-header__link--active {
  color: var(--brand-color-light);
}

.main-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  width: 100%;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 5% 1rem;
}

.intro__button {
  position: relative;
  display: inline-block;
  padding: 18px 18px 20px 80px;
  font-size: 21px;
  text-align: left;
  margin-right: 1.6rem;
  min-width: 200px;
}

.intro__button:hover {
  background: var(--brand-color-light);
}

.intro__button-order::before,
.intro__button-video::before {
  content: "";
  position: absolute;
  background-image: url("../img/order-icon.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  top: 15px;
  left: 25px;
}

.intro__button-video::before {
  background-image: url("../img/video-icon.svg");
}

.intro__button-order {
  background: var(--brand-color);
}

.intro__title {
  font-size: 5.6em;
  margin-bottom: 1.5rem;
  padding-top: 3rem;
  font-weight: 400;
}
.intro__text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}

.intro__text-wrapper {
  margin-bottom: 4rem;
}

@media (max-width: 770px) {
  .intro__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .intro__button {
    display: block;
    width: 200px;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .intro__button-container {
    margin: 0 auto;
  }

  .intro__title {
    font-size: 2.4rem;
  }
}

.page-footer {
  margin: 0 auto;
  display: flex;
  padding: 1.5em 0;
  color: var(--main-text-color);
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.64;
}
@media (max-width: 770px) {
  .page-footer {
    display: flex;
    flex-direction: column;
  }
}

.page-footer__social-image {
  fill: var(--main-text-color);
  opacity: 0.6;
}

.page-footer__social-link .page-footer__social-image {
  transition: opacity 0.3s ease-in-out;
}

.page-footer__social-link:hover .page-footer__social-image {
  opacity: 1;
}
.page-footer__social {
  list-style: none;
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

.page-footer__social-item {
  margin-right: 1.5rem;
}


/* SCROLL */

.scroll__container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll--intro .scroll__text {
  position: relative;
  bottom: 0;
  left: 35%;
}
@media (max-width: 770px) {
  .scroll__container {
    justify-content: center;
  }
  .scroll--intro .scroll__text {
    left: 0%;
    bottom: 1em;
  }
  .page-footer__social {
    display: none;
  }
}

.page-footer__social--mobile {
  display: flex;
}

.scroll {
  width: 100%;
  padding: 1.5em 0;
  margin-top: auto;
}

.scroll__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: 0.8rem;
  letter-spacing: 0.12em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.64;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 2em;
}

.scroll__link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  border-left: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  transform: rotate(-45deg);
  bottom: -0.6em;
  left: 45%;
}

.scroll__link:hover {
  opacity: 1;
}



/* TITLE */

.title {
  font-weight: 500;
  font-size: 2.6em;
  line-height: 1.4;
  margin-bottom: 1.1em;
  padding-left: 5%;
}

.title--span {
  padding-right: 0.8em;
  border-bottom: solid 3px var(--brand-color-light);
}

@media (max-width: 770px) {
  .title--span {
    border: 0;
  }
  .title {
    border-bottom: solid 3px var(--brand-color-light);
  }
}



/* SLIDER */

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider__pagination {
  margin: 0 1.5em 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--main-text-color);
  opacity: 0.87;
}

.slider__pagination-total {
  color: #ababab;
}

.slider__buttons {
  display: flex;
  flex-wrap: wrap;
}

.slider__button {
  position: relative;
  display: block;
  width: 60px;
  height: 48px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: #1c1c1c;
}

.slider__button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-right: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  top: 17px;
  left: 50%;
  transition: border-color 0.3s ease-in-out;
}

.slider__button:hover::before {
  border-color: var(--brand-color-light);
}

.slider__button:focus {
  border: 1px solid var(--brand-color-light);
}

.slider__button--prev::before {
  transform: translateX(-50%) rotate(135deg);
  left: 57%;
}

.slider__button--next::before {
  transform: translateX(-50%) rotate(-45deg);
}

.slider__button--disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}