:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-text-color: #ffffff;
  --main-background-color: #000000;
  --brand-color: #15b38d;
  --brand-color-light: #0dd1a2;

  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2;
  
  color: var(--main-text-color);
  background: var(--main-background-color);
}


*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-background {
  flex-shrink: 0;
  min-height: 100%;
}

.main-background::after {
  content: "";
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("./img/body-background-main-2@1x.png"), url("./img/body-background-main@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 50% 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .main-background::after {
    background-image: url("./img/body-background-main-2@1x.png"), url("./img/body-background-main@2x.jpg");
  }
}

.main-content--intro::after {
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  background-image: url("./img/kid_VR@1x.png");
  background-repeat: no-repeat;
  background-size: 430px 350px;
  background-position: 100% 100%;
  bottom:0;
  right:0;
  z-index:-1;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .main-content--intro::after {
    background-image: url("./img/kid_VR@2x.png");
  }
}

@media (max-width: 770px) {
  .main-content--intro::after {
    background-image: none;
  }
}


.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 2em auto;
  max-width: 1200px;
  font-weight: 500;
}

@media (max-width: 1050px){
  .page-header{
    justify-content: space-between;
    margin: 0 auto;
  }
}

.page-header__logo {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  font-weight: 500;
  margin:0.5em 0;
  margin-right:1em;
}

@media (max-width: 1050px){
  .page-header__logo{
    display: none;
  }
  .page-header__logo--mobile{
    display: flex;
  }
  .page-header__tel--mobile{
    display:none;
  }
}

.page-header__logo:focus,
.page-header__logo:hover {
  color: var(--brand-color-light);
  cursor: pointer;
}
.page-header__logo-image {
  fill: var(--main-text-color);
  position: relative;
  top: 5px;
  padding:0;
  margin:0 1rem 0 0;
}

.page-header__logo-image:hover{
  fill: var(--brand-color-light);
}

.page-header__tel{
  font-size: 1.1rem;
  margin:0.5em 0;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  padding:0;
  
}
.page-header__item:not(:last-of-type) {
  margin-right: 2em;
}

.page-header__navigation{
  display:flex;
  justify-content: center;
  margin-right:1em;
}

@media (max-width: 1050px){
  .page-header__navigation{
    display:none;
  }
}


.page-header__order {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.page-header__button {
  margin-right: 2em;
}

.button {
  padding: 0.5em 0.9em;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: .03em;
  color: var(--main-text-color);
  text-align: center;
  border: solid 2px var(--brand-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: 500;
}
.button:focus,
.button:hover {
  background-color: var(--brand-color-light);
}

.page-header__list {
  list-style: none;
}

.page-header__item {
  position: relative;
}

.page-header__item:not(:last-of-type)::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #b0acac;
  top: 0.5em;
  right: -1em;
  border-radius: 50%;
}

.page-header__link,
.intro__button {
  color: var(--main-text-color);
  text-transform: uppercase;
  text-decoration: none;
  
}

.page-header__toggle {
  position: relative;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  top: -1em;
  right: 0;
  background-image: url("./img/open-button.svg");
  background-repeat: no-repeat;
  background-size: 24px 19px;
  width: 24px;
  height: 19px;;
}

.page-header__toggle{
  display:none;
}

@media (max-width: 1050px){
  .page-header__toggle{
    display:block;
  }
}

.page-header__link:hover {
  color: var(--brand-color-light);
}

.main-content{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.intro {
  width: 100%;
  overflow: hidden;
}
.intro__container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 5%;
}

.intro__button {
  position: relative;
  display: inline-block;
  padding: 18px 18px 20px 80px;
  font-size: 21px;
  text-align: left;
  margin-right: 1.6rem;
  min-width: 200px;
}
@media (max-width: 770px){
  .intro__container{
    width: 100%;
    display:flex;
    flex-direction: column;
  }
  .intro__button{
    display: block;
    width: 200px;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .intro__button-container{
    margin:0 auto;
  }
}

.intro__button:hover {
  background: var(--brand-color-light);
}

.intro__button-order::before,
.intro__button-video::before {
  content: "";
  position: absolute;
  background-image: url("./img/order-icon.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  top: 15px;
  left: 25px;
}

.intro__button-video::before{
  background-image: url("./img/video-icon.svg");
}

.intro__button-order{
  background: var(--brand-color);
}

.intro__title{
  font-size: 6.5em;
  margin-bottom: 1.5rem;
  margin-top:4rem;
  font-weight: 400;
}
.intro__text {
  font-size:1.1rem;
}

.intro__text-wrapper{
  margin-bottom: 5rem;
}

.page-footer{
  width: 100%;
  max-width: 1200px;
}

.page-footer__social-image {
  fill: var(--main-text-color);
  opacity: 0.6;
}

.page-footer__social-link .page-footer__social-image {
  transition: opacity 0.3s ease-in-out;
}

.page-footer__social-link:hover .page-footer__social-image {
  opacity: 1;
}
.page-footer__social{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

.page-footer__social-item {
  margin-right:1.5rem;
}

.scroll__container{
  display:flex;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll__text{
  position: relative;
  bottom: 0;
  left: 40%;
}
@media (max-width: 770px){
  .scroll__text{
    bottom: 5em;
    left: 25vw;
  }
}
.scroll{
  width:100%;
  padding: 1.5em 0;
}

.scroll__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: 0.8rem;
  letter-spacing: 0.12em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.64;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll__link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  border-left: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  transform: rotate(-45deg);
  bottom: -5px;
  left: 45%;
}

.scroll__link:hover {
  opacity: 1;
}


